body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#home-container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 400px; 
    width: 100%; 
}

h1 {
    color: #009999;
    margin-bottom: 30px;
}

label {
    font-size: 18px;
    color: #555555;
}

#num-of-questions {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cccccc; 
    margin-top: 10px; 
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

#start-button {
    padding: 15px;
    font-size: 18px;
    background-color: #009999; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

#start-button:hover {
    background-color: #007377;
}
